body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  color: #4e73df;
  margin-bottom: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 15px;
}

th {
  background-color: #4e73df;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #e2e6ea;
}

td {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}

/* Button Styles */
.btn {
  background-color: #4e73df;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #375aac;
}

/* Responsive Styles */
@media (max-width: 768px) {
  table {
    width: 90%;
  }
}

@media (max-width: 576px) {
  table {
    width: 100%;
  }
}